* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 700px;
  margin: 30px auto;
  min-height: 800px;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

div#container {
    background: url("http://subtlepatterns.com/patterns/linedpaper.png");
    overflow:auto;
    border: 2px solid black;
    border-radius: 10px;
    min-height: 800px;
}

li {
  list-style: none;
}

h1 {
  font-size: 46px;
}

li {
  font-size: 1.2em;
}

div#comp {
  float:left;
  width: 50%;
}

div#incomp {
  float:left;
  width: 50%;
}

div#incomp li:hover {
  cursor: pointer;
  color:salmon;
}

form * {
  margin: 20px 0;
  font-size: 20px;
  border: none;
  background: rgba(0,0,0,0);
}
input {
  border-bottom: 1px solid black;
}

button:hover {
  color:salmon;
}


